<!doctype html>
<html lang="en">
<head th:replace="~{base :: head2}">
<link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
	<main>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light rounded"
				aria-label="Twelfth navbar example">
				<div class="container-fluid">
					<div class="collapse navbar-collapse justify-content-md-center"
						id="navbarsExample10">
						<h2>Crud Básico</h2>
					</div>
				</div>
			</nav>

			<div>
				<div class="bg-light p-5 rounded">
					<div class="col-sm-8 mx-auto">
						<h1>Cadastro</h1>
						<p>
						<div>
							<form th:object="${userDTO}" action="/add" method="post">
								<div class="form-floating">
									<input th:field="*{name}" th:errorclass="is-invalid" class="form-control mb-4"
										placeholder="Leave a comment here" id="floatingTextarea" />									
									<label for="floatingTextarea">Nome</label>
									<small th:errors="*{name}" class="invalid-feedback">Informe o seu nome </small>
								</div>
								<div class="form-floating">
									<input th:field="*{email}" th:errorclass="is-invalid" type="email" class="form-control mb-4"
										placeholder="Leave a comment here" id="floatingTextarea" />
									<div th:errors="*{email}" class="invalid-feedback">Error</div>
									<label for="floatingTextarea">Email</label>
								</div>
								<div class="form-floating">
									<input th:field="*{password}" th:errorclass="is-invalid" type="password" class="form-control mb-4"
										placeholder="Leave a comment here" id="floatingTextarea" />
									<div th:errors="*{password}" class="invalid-feedback">Error</div>
									<label for="floatingTextarea">Password</label>
								</div>
								<div class="nav justify-content-center mb-4">
									<div>
										<button type="reset" class="btn btn-danger btn-md">Cancelar</button>
										<button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
									</div>
								</div>
								<div class="col-2 mx-auto">
									Já possui cadastro? <a href="/">Clique aqui</a>
								</div>
							</form>
						</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
